
#logo-navbar {
  height: 50px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: #DAC2DE;
  border-radius: 5.75rem;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.rounded-5 {
  border-radius: 0.75rem;
}
.fw-bold {
  font-weight: 500 !important;
  color: black;
}
.redessociais {
  justify-content: center;
}
.botao {
  background-color: #DAC2DE;
  color: black;
  font-family: "Zen Kaku Gothic New", sans-serif;
  border-radius: 0.25rem;
  border: none;
}
.cabecalho {
  background-color: #ececee;
  color: black;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
}
.li-img-principal {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 12px #fff;
  background: #fff;
  box-shadow: 0 0 15px 0px #555;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 50px;
}

.li-img-principal:hover {
  top: 0px;
  opacity: 0.5;
}

.p2 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 20px;
}

.light {
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  width: 700px;
  height: 700px;
  background: #fff;
  filter: blur(100px);
  opacity: 0.3;
  pointer-events: none;
}
.tipos {
  font-size: 35px;
}
.titulos {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.produtos{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
} 
.rowsobre {
  display: flex;
  flex-wrap: wrap;}